body, html {
  height: 100% !important;
  background-color: #4659AF !important;
}

body {
  position: relative !important;
}

.logoh1 {
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 20px;
}

h1 {
  font-size: 20.5px !important;
  color: white;
}

.navbar {
  background-color: #EC6834 !important;
}

button {
  border: 1px solid white !important;
}

span {
  padding-top: 4px;
  color: white !important;
}

.navbar-nav {
  font-size: 20px;
  font-weight: bold;
}

.nav-link {
  color: white !important;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.dropdown-item {
  font-size: 20px;
  font-weight: bold !important;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 10px;
}

.dropdown>.dropdown-menu {
  top: 200%;
  transition: 0.3s all ease-in-out;
}
.dropdown:hover>.dropdown-menu {
  display: block;
  top: 100%;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.bgfooter {
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 140px;
  background-color: #EC6834 !important;
}

.divfooter {
  display: flex;
  justify-content: space-between;
}

.imgfooter {
  width: 50%;
  height: 60%;
  padding-bottom: 20px;
}